body {
  background-color: #121212;
  color: #fdfdfd;
  font-family: "Circular";
  margin: 0;
  padding: 0;
}

#inputSearchContainer {
  position: relative;
}

header div i {
  color: #fdfdfd;
  position: absolute;
  left: 15px;
}

header div input {
  background-color: #2c2c2c;
  color: #fdfdfd;
  font-family: "Circular";
  padding: 20px 0 15px 70px;
  font-size: 1.4rem;
}

header div input::placeholder {
  font-size: 1.4rem;
}

@mixin layout-cardContainer {
  position: relative;
  overflow: hidden;
  height: 150px;
  border-radius: 10px;
  transition: transform 0.1s linear;
}

@mixin layout-cardImg {
  width: 100px;
  position: absolute;
  right: -10px;
  rotate: 20deg;
  bottom: -5px;
  border-radius: 10px;
}

@mixin layout-card-inner-text {
  padding-left: 10px;
  padding-top: 15px;
}

.card-inner-text {
  @include layout-card-inner-text;
}

.cardGenresNav {
  @include layout-cardContainer;
}

.imgGenresNav {
  @include layout-cardImg;
}

.cardGenresNav:hover {
  transform: scale(1.15);
  z-index: 1;
  box-shadow: 1px -2px 175px -1px rgba(0, 0, 0, 0.81);
}
